/* 1200px and below */
@media screen and (max-width: 1200px) {
  section {
    margin: 0 5%;
  }

  #profile {
    height: auto;
    gap: 2rem;
  }

  .section__pic-container {
    width: 300px;
    height: 300px;
  }

  .section-container {
    gap: 2rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  .arrow {
    display: none;
  }
  .section__pic-container {
    margin: 0 auto;
  }

  .section-container,
  .about-containers {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
  }

  .text-container {
    width: 80vw;
    text-align: center;
    margin: 0 auto;
  }

  .text-container > p {
    margin-top: 1rem;
  }

  .mb {
    margin-bottom: 1rem;
  }
}

/* 850px and below */
@media screen and (max-width: 850px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: relative;
    z-index: 100;
  }

  #hamburger-nav .menu-links {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 101;
  }
}

/* 600px and below */
@media screen and (max-width: 600px) {
  section {
    margin: 0 1.25rem;
    padding-top: 2rem;
    height: auto;
  }

  #profile {
    flex-direction: column;
    height: auto;
    gap: 1.5rem;
    padding: 2rem 0 4rem;
  }

  .section__pic-container {
    width: 240px;
    height: 240px;
    margin: 0 auto;
  }

  .section-container,
  .about-containers {
    flex-direction: column;
    height: auto;
  }

  .title {
    font-size: 2rem;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .article-container {
    gap: 1.25rem;
  }

  .contact-info-upper-container {
    flex-direction: column;
    width: 100%;
  }

  .contact-info-container {
    margin: 0.75rem;
  }

  .btn-container {
    flex-wrap: wrap;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  footer {
    height: auto;
    padding: 2rem 0;
  }

  .about-pic {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  footer nav {
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 2rem;
  }

  footer .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }
}

/* 250px - 400px */
@media screen and (min-width: 250px) and (max-width: 400px) {
  .btn-container {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 1.7rem;
  }

  .section__text__p2 {
    font-size: 1.1rem;
  }

  .short-email {
    display: flex;
  }

  .long-email {
    display: none;
  }
}
